@{
  TempData.Keep();
  ViewData["navbarDetached"] = (ViewData["navbarDetached"] ??= null);
  ViewData["containerNav"] = (ViewData["containerNav"] ??= "container-fluid");
}
@if (@ViewData["navbarDetached"] != null)
{
  <nav class='layout-navbar @((@ViewData["navbarDetached"] != null) ? @ViewData["navbarDetached"] : "") @((@ViewData["navbarDetached"] != null) ? @ViewData["containerNav"] : "") navbar navbar-expand-xl align-items-center bg-navbar-theme' id="layout-navbar">
    @await Html.PartialAsync("/Pages/Layouts/Sections/Navbar/_NavbarPartial.cshtml")
  </nav>
}
else
{
  <nav class='layout-navbar @((@ViewData["navbarDetached"] != null) ? @ViewData["navbarDetached"] : "") @((@ViewData["navbarDetached"] != null) ? @ViewData["containerNav"] : "") navbar navbar-expand-xl align-items-center bg-navbar-theme' id="layout-navbar">
    <div class='@((@ViewData["navbarDetached"] == null) ? @ViewData["containerNav"] : "")'>
      @await Html.PartialAsync("/Pages/Layouts/Sections/Navbar/_NavbarPartial.cshtml")
    </div>
  </nav>

}
